<div class="container">

    <div class="row">
        <div class="col-3" id="playerOne">
            <input type="text" readonly="true" class="form-control" value={{player1}}>
        </div>
        <div class="col-1" id="pontoPlayer1">
            <input type="text" readonly="true" class="form-control" value={{pontoPlayer1}}>
        </div>
        <div class="col-4">
        </div>
        <div class="col-3" id="playerOne">
            <input type="text" readonly="true" class="form-control" value={{player2}}>
        </div>
        <div class="col-1" id="pontoPlayer2">
            <input type="text" readonly="true" class="form-control" value={{pontoPlayer2}}>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-3 col-lg-3 ">
        </div>

        <div class="col-2 col-lg-2 ">
            <button [disabled]="marcarReadonly[0]" (click)="marcaJogada(0)" type="button"
                [class]="corBotao[0]">{{jogada[0]}}</button>
        </div>
        <div class="col-2 col-lg-2 ">
            <button [disabled]="marcarReadonly[1]" (click)="marcaJogada(1)" type="button"
                [class]="corBotao[1]">{{jogada[1]}}</button>
        </div>
        <div class="col-2 col-lg-2">
            <button [disabled]="marcarReadonly[2]" (click)="marcaJogada(2)" type="button"
                [class]="corBotao[2]">{{jogada[2]}}</button>
        </div>
        <div class="col-3 col-lg-3 ">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3 col-lg-3 ">
        </div>

        <div class="col-2 col-lg-2 ">
            <button [disabled]="marcarReadonly[3]" (click)="marcaJogada(3)" type="button"
                [class]="corBotao[3]">{{jogada[3]}}</button>
        </div>
        <div class="col-2 col-lg-2 ">
            <button [disabled]="marcarReadonly[4]" (click)="marcaJogada(4)" type="button"
                [class]="corBotao[4]">{{jogada[4]}}</button>
        </div>
        <div class="col-2 col-lg-2">
            <button [disabled]="marcarReadonly[5]" (click)="marcaJogada(5)" type="button"
                [class]="corBotao[5]">{{jogada[5]}}</button>
        </div>
        <div class="col-3 col-lg-3 ">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3 col-lg-3 ">
        </div>

        <div class="col-2 col-lg-2 ">
            <button [disabled]="marcarReadonly[6]" (click)="marcaJogada(6)" type="button"
                [class]="corBotao[6]">{{jogada[6]}}</button>
        </div>
        <div class=" col-2 col-lg-2 ">
            <button [disabled]=" marcarReadonly[7]" (click)="marcaJogada(7)" type="button"
                [class]="corBotao[7]">{{jogada[7]}}</button>
        </div>
        <div class="col-2 col-lg-2">
            <button [disabled]="marcarReadonly[8]" (click)="marcaJogada(8)" type="button"
                [class]="corBotao[8]">{{jogada[8]}}</button>
        </div>
        <div class="col-3 col-lg-3 ">

        </div>
    </div>

    <div class="row">
        <br>
        <br>
    </div>



    <div class="row">
        <div class="col-3 col-lg-3 ">
            <button (click)="restart(false)" type="button" class="btn btn-warning btn-lg btn-block">Limpar
                Tabuleiro</button>
        </div>
        <div class="col-1 col-lg-1 ">
        </div>

        <div class="col-2 col-lg-2 ">


        </div>

        <div class="col-2 col-lg-2">

        </div>
        <div class="col-1 col-lg-1">

        </div>
        <div class="col-3 -lg-3 ">
            <button (click)="restart(true)" type="button" class="btn btn-danger btn-lg btn-block">Reiniciar
                Partida</button>
        </div>
    </div>


    <div *ngIf="fim">

            <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Título do modal</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Texto do corpo do modal, é aqui.</p>
                        </div>
                        <div class="modal-footer">
                                                   <button type="button" class="btn btn-primary">Salvar mudanças</button>
                        </div>
                      </div>
                    </div>
                  </div>

        winner is {{fim}}
    </div>
</div>